@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
}

:root { --font-poppins: 'Poppins', sans-serif; }

body { 
  background-color: #07080A; 
  color: #cbd5e1;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
}

@utility no-scrollbar {
  &::-webkit-scrollbar { display: none; }
  scrollbar-width: none;
}

/* Fix untuk iOS input zoom */
@media screen and (max-width: 768px) {
  input, select, textarea { font-size: 16px !important; }
}