@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
  --color-tokogreen: #00AA5B;
  --color-tokogray: #9FA6B0;
}

:root { --font-poppins: 'Poppins', sans-serif; }

body { 
  background-color: #F0F3F7; 
  color: #212121;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
}

@utility no-scrollbar {
  &::-webkit-scrollbar { display: none; }
  scrollbar-width: none;
}

.shadow-tokopedia {
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
}